.card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  background: white; /* Semi-transparent background */
  opacity: 0.35; /* Adjust opacity for transparency */
  backdrop-filter: blur(2px); /* Blur effect */
  border-radius: 12px;
  padding: 8px;
  margin: 4px;
  color: black;
  width: 300px;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 40px;
  background-color: transparent; /* Dark background */
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}

.card-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 16px;
}

.card-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1px;
  text-align: center;
}

.card-description {
  font-size: 1rem;
  
}