body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url('./background-image.png');
  background-size: cover;
  background-color: #0D0F1B ;
  position: relative;
}

.div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 50%;
  margin: 65px;
}

header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding: 0;
}
.header{
  font-size: 3rem;
  width: 60%;
  text-align: left;
  margin: 9px 10px;
  color: white;
  overflow-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;


}

.subtitle{
  font-size: 24px;
  width: 45%;
  text-align: justify;
  overflow-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: white;
  margin: 40px 4px;

} 

.nav{
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
  top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);}


.nav-link {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  justify-content: space-evenly;
  
}

.nav-link:hover {
  text-decoration: none;
  color: #0056b3;
}

.btn {
  margin: 2rem auto;
  padding: 0.75rem 1.5rem;
  font-size: 1.2rem;
  color: black;
  background-color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}